@page
@model BED_W4_Exercise.Pages.Contact.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h3>@Model.Contact.Email</h3>
<ul>
    <li>@Model.Contact.Email</li>
    <li>@Model.Contact.Name</li>
    <li>@Model.Contact.PhoneNumber</li>
</ul>